BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
PointerAlignment: Right
IndentCaseLabels: true
AlignTrailingComments: true
